*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, p{
    padding: 0 0 .8em 0;
}
button{
    padding: 0 .3em;
    font-size: 1.5em;
}
.cart {
    padding: 2em;
}
.cart-checkout {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding: 1em;
}
.btn-checkout {
    margin-left: .5em;
}
.cart-item {
    display: flex;
    position: relative;
    padding: 1em;
    border: 1px solid black;
}
.cart-item-info {
    padding: 1em;
}
.product-image{
    max-width: 200px;
    height: 200px;
    object-fit: cover;
}
.total-quantity {
    font-weight: 800;
}
.total-price {
    padding: 1em 0;
}
.remove {
    position: absolute;
    right: 0;
    margin-right: 1em;
    font-size: 1em;
}